
@font-face {
  font-family: "8-bit-wonder";
  src: url("../fonts/8-bit-wonder.TTF") format("truetype");
}

body {
  background-color: #C4D7DB;
  color: #707070
}

h2 {
  
}

.container {

}

.jumbotron {
  height: 200px;
  width: 100%;
  background-image: url("../assets/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  text-align: right;
  font-family: "8-bit-wonder";
  /* color: #707070;
  color: gray; */
}

/* .jumbotron img {
  height: 100%;
  z-index: -0.5;
  float: left;
} */

.container h2 {
  text-align: center;
  font-family: "8-bit-wonder";
  margin: 2rem 0 2rem 0;
}

.avatar-right {
  float: left;
  height: 25rem;
  margin-left: 20%;
}

.avatar-left {
  float: right;
  height: 25rem;
  margin-right: 20%
}

#who-is {
  /* position: static; */
  /* margin-left: 10%; */
  padding: 2rem;
  width: 40%;
  float: left;
  border: solid 2px silver;
  border-radius: 20rem;

  text-align: center;
  /* border-top: solid 2px silver; */
  /* border-left: solid 2px silver; */
  /* background-color: #59BDFF; */
  /* color: #9BBFFC; */
}

#what-do {
  /* position: relative; */
  /* margin-right: 10%; */
  padding: 2rem;
  width: 40%;
  float: right;
  border: solid 2px silver;
  border-radius: 20rem;
  text-align: center;
  clear: both;
}

#what-do ul {
  list-style: none;
  padding: 0;
}

#what-do .glyphicon {
  margin: 3px;
}

#contact-jeff {
  /* position: static; */
  /* margin-left: 10%; */
  padding: 2rem;
  width: 40%;
  float: left;
  clear: both;
  border: solid 2px silver;
  border-radius: 20rem;
  text-align: center;
  text-align: center;
}

#contact-jeff ul {
  list-style: none;
  padding: 0;
}

#contact-jeff img {
  width: 20px;
}

#contact-jeff .glyphicon {
  margin: 3px;
}

.background {
  height: 400px;
}

.background .panel {
  /* height: 300px; */
  padding: 0 2rem 0 2rem;
  border: solid 2px silver;
  border-radius: 2rem;
  text-align: center;
}

.background .panel ul {
  list-style: none;
  padding: 0;
}


.jobs img {
  width: auto;
  height: 20rem;
}